body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Comfortaa', cursive;
color:black;
}
body, html {
  height: 100%;
  color: black;
  line-height: 1.8;
    /* The image used */
    background-image: url("watercolor3.jpg");
  background-size: cover;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
  }


/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('back.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("watercolor3.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("watercolor3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.card{
  padding: 10px;
  border:cornflowerblue;
  border-width: 5px;
  border-radius: 5px;
  box-shadow: darkgrey;

}

#contact{
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
#footer{
  background-image: url("footer.png");
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}